.home-title {
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
    display: inline-block;
    background: linear-gradient(90deg, 
    rgba(131, 131, 131, 0.4), /* Cinza bem suave nas pontas */
    #00ee88,  /* Verde neon mais escuro */
    #00ffcc,  /* Verde neon brilhante no centro */
    #00ee88,  /* Verde neon mais escuro */
    rgba(34, 34, 34, 0.4)  /* Cinza bem suave nas pontas */
    );
    background-size: 200% 100%;
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: dance 2s infinite ease-in-out alternate;
}

/* Animação de leve para cima e para baixo */
@keyframes dance {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-content {
    max-width: 650px;  /* Define um tamanho máximo */
    width: 90%;  /* Ajusta para telas menores */
    margin: 0 auto;  /* Centraliza */
    text-align: center;  /* Mantém o texto centralizado */
}

p{
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
    margin-top: 20px;
}

.skills-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }

  @media (max-width: 430px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        margin-left: 10px;
        text-align: center;
    }
    
    
    
    .home-title {
        width: 100%;
        font-size: 23px !important;  
        margin-top: 100px;  
        text-align: center;
    }

    .home-content {
        max-width: 90%;
        padding: 0 10px;
        margin: 0 auto;
        text-align: center ;
    }


    p {
        font-size: 9px !important;
        line-height: 1.5;
        text-align: center;  
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .home-title {
        font-size: 24px;
        margin-top: 140px;
    }

    p {
        font-size: 16px;
        max-width: 98%;
    }

    .skills-icons img {
        width: 40px;
        height: 40px;
    }
}

  
  
  
  
  
  
  